#s-4ddb5777-1a25-4d40-9594-e5619548549c > #backgroundBox {
  position: absolute;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Name {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Name {
  box-shadow: none;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Name .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Name .valign {
  vertical-align: middle;
  text-align: left;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Name span {
  color: #372F27;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Name span#rtr-s-Name_0 {
  color: #372F27;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-spacer {
  position: absolute;
  width: 334.0px;
  min-height: 102.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-4ddb5777-1a25-4d40-9594-e5619548549c #s-spacer {
  box-shadow: none;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-spacer > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-spacer .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-spacer .valign {
  vertical-align: middle;
  text-align: center;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-spacer span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-spacer span#rtr-s-spacer_0 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Name_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Name_4 {
  box-shadow: none;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Name_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Name_4 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Name_4 span {
  color: #372F27;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Name_4 span#rtr-s-Name_4_0 {
  color: #372F27;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Paragraph_2 {
  position: absolute;
  width: 334.0px;
  min-height: 53.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Paragraph_2 {
  box-shadow: none;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Paragraph_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 21px;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-top {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-itemsTop {
  width: 375.0px;
  height: 122.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-4ddb5777-1a25-4d40-9594-e5619548549c #s-itemsTop {
  box-shadow: none;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-itemsTop td.layout {
  padding: 0px 0px 0px 0px;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-itemsTop > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-itemsTop .verticalalign {
  vertical-align: top;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-topBg {
  position: absolute;
  width: 100.0%;
  min-height: 102.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px 5.0px 7.5px #EFEFEF);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-4ddb5777-1a25-4d40-9594-e5619548549c #s-topBg {
  box-shadow: -0.0px 5.0px 15px 0px #EFEFEF;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-topBg > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-topBg .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-topBg .valign {
  vertical-align: middle;
  text-align: center;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-topBg span {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-topBg span#rtr-s-topBg_0 {
  color: #007AFF;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Text_2 {
  position: absolute;
  width: 45.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Text_2 {
  box-shadow: none;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Text_2 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Image_17 {
  position: absolute;
  width: 17.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Image_17 {
  box-shadow: none;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Image_18 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Image_18 {
  box-shadow: none;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Image_4 {
  position: absolute;
  width: 25.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Image_4 {
  box-shadow: none;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Name_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Name_1 {
  box-shadow: none;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Name_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Name_1 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Name_1 span {
  color: #372F27;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Name_1 span#rtr-s-Name_1_0 {
  color: #372F27;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Image_1 {
  position: absolute;
  width: 291.26953125px;
  height: 184.77294685990336px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Image_1 {
  box-shadow: none;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Image_2 {
  position: absolute;
  width: 306.53125px;
  height: 189.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Image_2 {
  box-shadow: none;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Name_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Name_5 {
  box-shadow: none;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Name_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Name_5 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Name_5 span {
  color: #372F27;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Name_5 span#rtr-s-Name_5_0 {
  color: #372F27;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Paragraph_3 {
  position: absolute;
  width: 334.0px;
  min-height: 126.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Paragraph_3 {
  box-shadow: none;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Paragraph_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 21px;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Rectangle_2 {
  position: absolute;
  width: 160.0px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Rectangle_2 {
  box-shadow: none;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Rectangle_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Rectangle_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Rectangle_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Rectangle_2 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-4ddb5777-1a25-4d40-9594-e5619548549c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
